<div id='wbg-footer' class='clear-block wbg-en'>
  <div class='footer-breadcrumb clear-block'>
    <ul>
      <li class='first'>You are here</li>
      <li class='divider'>&gt;</li>
      <li><a href='http://data.worldbank.org/'>Data</a></li>
      <li class='divider'>&gt;</li>
      <li><a href='http://data.worldbank.org/open-government-data-toolkit'>Open Government Data Toolkit</a></li>
      <li class='divider'>&gt;</li>
      <li><a href='http://data.worldbank.org/about/open-government-data-toolkit/knowledge-repository' class='active'>Open Data Essentials</a></li>
      <li class='divider'>&gt;</li>
      <li class='last'><a href='http://data.worldbank.org/about/open-government-data-toolkit/knowledge-repository' class='active'>Open Data Essentials</a></li>
    </ul>
  </div>
  <div class='ieClearFix'></div>
  <div class='footer-fat clear-block'>
    <div class='footer-links clear-block'>
      <div class='link-set-1 columns'>
        <ul>
          <li class='header'>resources</li>
          <li class='subheader'><a href='http://www.worldbank.org/civilsociety'>Civil Society</a></li>
          <li class='subheader'><a href='http://consultations.worldbank.org/'>Consultations</a></li>
          <li class='subheader'><a href='https://clientconnection.worldbank.org/servlet/main?menuPK=234032&amp;pagePK=232663&amp;piPK=234033'>
            Government</a>
          </li>
          <li><a href='https://clientconnection.worldbank.org/servlet/main?menuPK=234032&amp;pagePK=232663&amp;piPK=234033'>
            Client Connection</a>
          </li>
          <li><a href='http://go.worldbank.org/NOW8S4MAB0'>Parliamentarians</a></li>
          <li><a href='http://go.worldbank.org/TRCDVYJ440'>Access to Information</a></li>
          <li><a href='http://treasury.worldbank.org/bdm/htm/index.html'>Financing &amp; Risk
            Management</a>
          </li>
          <li class='subheader'><a href='http://web.worldbank.org/WBSITE/EXTERNAL/OPPORTUNITIES/EXTCORPPROCUREMENT/0,,menuPK:64147159~pagePK:64147234~piPK:64147236~theSitePK:438017,00.html'>
            Businesses</a>
          </li>
          <li><a href='http://go.worldbank.org/6PC0FICAE0'>Corporate Procurement</a></li>
          <li><a href='http://go.worldbank.org/FAOKR3OTW0'>Operational Procurement</a></li>
          <li class='subheader'><a href='http://treasury.worldbank.org/cmd/htm/index.html'>Investors</a></li>
          <li><a href='http://treasury.worldbank.org/cmd/htm/index.html'>World Bank Bonds</a></li>
          <li class='subheader'><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTJOBSNEW/0,,pagePK:8454306~theSitePK:8453353,00.html'>
            Job Seekers</a>
          </li>
          <li class='subheader'><a href='http://web.worldbank.org/WBSITE/EXTERNAL/NEWS/0,,pagePK:34382~piPK:34439~theSitePK:4607,00.html'>
            Journalists</a>
          </li>
          <li class='subheader'><a href='http://youthink.worldbank.org/'>Students</a></li>
        </ul>
      </div>
      <div class='link-set-2 columns'>
        <ul>
          <li class='fullwidth margin-bottom20'>
            <div class='link-block first'>
              <ul>
                <li class='header'><a href='http://www.worldbank.org/en/about'>ABOUT</a></li>
                <li><a href='http://www.worldbank.org/en/about/history'>History</a></li>
                <li><a href='http://www.worldbank.org/en/about/leadership'>Leadership</a></li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/0,,contentMDK:20437854~menuPK:1697253~pagePK:51123644~piPK:329829~theSitePK:29708,00.html'>
                  Public Outreach</a>
                </li>
                <li><a href='http://www.worldbank.org/en/events'>Events</a></li>
                <li><a href='http://www.worldbank.org/jobs'>Jobs</a></li>
                <li><a href='http://www.worldbank.org/annualreport'>Annual Reports</a></li>
              </ul>
            </div>
            <div class='link-block'>
              <ul>
                <li class='header'><a href='http://data.worldbank.org/'>DATA</a></li>
                <li><a href='http://search.worldbank.org/data'>Search Data</a></li>
                <li><a href='http://databank.worldbank.org/ddp/home.do?Step=12&amp;id=4&amp;CNO=2'>DataBank</a></li>
                <li><a href='http://data.worldbank.org/data-catalog'>Catalog</a></li>
                <li><a href='http://data.worldbank.org/products'>Data Publications &amp; Products</a></li>
                <li><a href='http://data.worldbank.org/developers'>APIs for Developers</a></li>
              </ul>
            </div>
            <div class='link-block'>
              <ul>
                <li class='header'><a href='http://econ.worldbank.org/WBSITE/EXTERNAL/EXTDEC/0,,menuPK:476823~pagePK:64165236~piPK:64165141~theSitePK:469372,00.html'>
                  RESEARCH</a> 
                </li>
                <li><a href='http://search.worldbank.org/research'>Search Research</a></li>
                <li><a href='http://econ.worldbank.org/datasets'>Tools &amp; Tables</a></li>
                <li><a href='http://www.worldbank.org/reference/'>Research Publications &amp; Products</a></li>
              </ul>
            </div>
            <div class='link-block last'>
              <ul>
                <li class='header'><a href='http://wbi.worldbank.org/wbi/'>LEARNING</a></li>
                <li><a href='http://gdln.org/'>Global Development Learning Network</a></li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/TOPICS/EXTCDRC/0,,menuPK:64169181~pagePK:64169192~piPK:64169180~theSitePK:489952,00.html'>
                  Capacity Development Resource Center</a>
                </li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/DATASTATISTICS/SCBEXTERNAL/0,,contentMDK:20100922~menuPK:982273~pagePK:229544~piPK:229605~theSitePK:239427,00.html'>
                  Statistical Capacity Building</a>
                </li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/WBI/EXTWBISFP/0,,menuPK:551559~pagePK:64168427~piPK:64168435~theSitePK:551553,00.html'>
                  Scholarships &amp; Fellowships</a>
                </li>
              </ul>
            </div>
          </li>
          <li class='fullwidth margin-bottom10'>
            <div class='link-block first'>
              <ul>
                <li class='header'><a href='http://www.worldbank.org/en/news'>NEWS</a></li>
                <li><a href='http://www.worldbank.org/en/news/all'>Search for News</a></li>
                <li><a href='http://blogs.worldbank.org/'>Blogs</a></li>
                <li><a href='http://www.worldbank.org/en/news/multimedia'>Multimedia</a></li>
                <li><a href='http://media.worldbank.org/'>Media Briefing Center</a></li>
                <li><a href='http://www.worldbank.org/en/about/contacts'>Media Contacts</a></li>
              </ul>
            </div>
            <div class='link-block'>
              <ul>
                <li class='header'><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/0,,menuPK:115635~pagePK:64020917~piPK:64021009~theSitePK:40941,00.html'>
                  PROJECTS &amp; OPERATIONS </a>
                </li>
                <li><a href='http://search.worldbank.org/projects'>Search Projects</a></li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/0,,contentMDK:21790401~menuPK:5119395~pagePK:41367~piPK:51533~theSitePK:40941,00.html'>
                  Our Focus</a>
                </li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/0,,contentMDK:20120721~menuPK:232467~pagePK:41367~piPK:51533~theSitePK:40941,00.html'>
                  Products &amp; Services</a>
                </li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/0,,menuPK:64383817~pagePK:64387457~piPK:64387543~theSitePK:40941,00.html'>
                  Country Lending</a>
                </li>
                <li><a href='http://www.worldbank.org/ieg/'>Project Evaluations</a></li>
                <li><a href='http://www.worldbank.org/results/'>Results</a></li>
              </ul>
            </div>
            <div class='link-block'>
              <ul>
                <li class='header'><a href='http://www.worldbank.org/reference/'>PUBLICATIONS</a></li>
                <li><a href='http://publications.worldbank.org/'>Bookstore</a></li>
                <li><a href='http://www-wds.worldbank.org/WBSITE/EXTERNAL/EXTWDS/0,,detailPagemenuPK:64187510~menuPK:64187513~pagePK:64187848~piPK:64187934~searchPagemenuPK:64187283~siteName:WDS~theSitePK:523679,00.html'>
                  Documents &amp; Reports</a>
                </li>
                <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/EXTARCHIVES/0,,pagePK:38167~theSitePK:29506,00.html'>
                  Archives</a>
                </li>
                <li><a href='http://jolis.worldbankimflib.org/external.htm'>Libraries</a></li>
              </ul>
            </div>
            <div class='link-block last'>
              <ul>
                <li class='header'><a href='http://www.worldbank.org/en/country'>COUNTRIES </a></li>
                <li class='header'><a href='http://www.worldbank.org/en/topic'>TOPICS</a> </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class='ieClearFix'>
      </div>
    </div>
    <div class='wbg-partners clear-block'>
      <span class='wbg-logo' title='The World Bank Working for a World Free of Poverty'></span> 
      <div class='worldbank-partner'>
        <a title='International Bank for Reconstruction and Development' href='http://www.worldbank.org/ibrd'>
        IBRD</a> <a title='International Development Association' href='http://www.worldbank.org/ida'>
        IDA</a> <a title='International Finance Corporation' href='http://www.ifc.org/'>IFC</a>
        <a title='Multilateral Investment Guarantee Agency' href='http://www.miga.org/'>MIGA</a>
        <a title='International Centre for Settlement of Investment Disputes' href='http://icsid.worldbank.org/'>
        ICSID</a>
      </div>
      <div class='ieClearFix'>
      </div>
    </div>
    <div class='wbg-misc-links clear-block'>
      <ul class='misc-links-list'>
        <li class='links'><a href='http://www.worldbank.org/legalinfo'>Legal</a> | <a href='http://go.worldbank.org/TRCDVYJ440'>
          Access to Information</a> | <a href='http://www.worldbank.org/jobs'>Jobs</a> | <a
            href='http://www.worldbank.org/sitemap'>Site Map</a> | <a href='http://www.worldbank.org/contacts'>
          Contact</a> 
        </li>
        <li class='copyright'>
          <a href='http://www.worldbank.org/'>
            ©
            <script language='javascript'>
              <!-- // BEGIN
                if( typeof _copyrightYear === 'undefined' || _copyrightYear ) { var t = new Date(); var year = t.getYear(); if( year < 2000 ) year += 1900; document.write(year); }
                // END -->
            </script>
            The World Bank Group, All Rights Reserved.
          </a>
        </li>
      </ul>
      <div class='hotlineNumber'>
        <a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/ORGANIZATION/ORGUNITS/EXTDOII/0,,contentMDK:20659616~menuPK:1702202~pagePK:64168445~piPK:64168309~theSitePK:588921,00.html'>
        <strong>Fraud &amp; Corruption Hotline</strong><br>
        <span>1-202-458-7677</span></a>
      </div>
    </div>
  </div>
</div>