<h2 id='title' name='title'>Data</h2>

<a href='#title' class='menu'><span>Menu</span></a>

<nav class='links options'>
  <ul class='primary'>
    <li><a href='http://data.worldbank.org/country'>{{ locales.header.links.primary.by_country }}</a></li>
    <li><a href='http://data.worldbank.org/topic'>{{ locales.header.links.primary.by_topic }}</a></li>
    <li><a href='http://data.worldbank.org/indicator'>{{ locales.header.links.primary.indicators }}</a></li>
    <li><a href='http://data.worldbank.org/data-catalog'>{{ locales.header.links.primary.data_catalog }}</a></li>
    <li><a href='http://microdata.worldbank.org'>{{ locales.header.links.primary.microdata }}</a></li>
    <li><a href='http://blogs.worldbank.org/opendata/'>{{ locales.header.links.primary.blog }}</a></li>
  </ul>

  <ul class='secondary'>
    <li><a href='http://data.worldbank.org/news'>{{ locales.header.links.secondary.news }}</a></li>
    <li><a href='http://data.worldbank.org/about'>{{ locales.header.links.secondary.about }}</a></li>
    <li><a href='http://datahelpdesk.worldbank.org'>{{ locales.header.links.secondary.helpdesk }}</a></li>
    <li><a href='http://data.worldbank.org/products'>{{ locales.header.links.secondary.products }}</a></li>
  </ul>
</nav>