<div id='nav-footer'>
  <div class='region-h limiter clear-block'>
    <div id='block-views-topics-block_1' class='block block-views shown-block'>
      <h2 class='title block-title'>Topics</h2>
      <div class='content block-content clear-block'>
        <div class='view view-topics view-id-topics view-display-id-block_1 view-dom-id-7a0b70f952c46b329f9a6274e2c2f496'>
          <div class='view-content'>
            <table class='views-view-grid grid-2'>
              <tbody>
                <tr class='row-1 row-first'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/agriculture-and-rural-development'>Agriculture &amp; Rural Development</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/health'>Health</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-2'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/aid-effectiveness'>Aid Effectiveness</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/infrastructure'>Infrastructure</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-3'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/climate-change'>Climate Change</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/poverty'>Poverty</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-4'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/economy-and-growth'>Economy &amp; Growth</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/private-sector'>Private Sector</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-5'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/education'>Education</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/public-sector'>Public Sector</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-6'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/energy-and-mining'>Energy &amp; Mining</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/science-and-technology'>Science &amp; Technology</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-7'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/environment'>Environment</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/social-development'>Social Development</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-8'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/external-debt'>External Debt</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/labor-and-social-protection'>Social Protection &amp; Labor</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-9'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/financial-sector'>Financial Sector</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/trade'>Trade</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class='row-10 row-last'>
                  <td class='col-1'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/gender'>Gender</a></span></span>
                      </div>
                    </div>
                  </td>
                  <td class='col-2'>
                    <div class='grid-item'>
                      <div class='views-field-value' >
                        <span class='field-content'><span class='field-content'><a href='http://data.worldbank.org/topic/urban-development'>Urban Development</a></span></span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id='block-datafinder_indicators-goto_footer' class='block block-datafinder_indicators shown-block'>
      <h2 class='title block-title'>Indicators</h2>
      <div class='content block-content clear-block'>
        <form action='/about/open-government-data-toolkit/knowledge-repository'  accept-charset='UTF-8' method='post' id='wbboxes-goto-form' autocomplete='off'>
          <div>
            <div  class=' form-item' id='edit-goto-wrapper'><input type='text' name='goto' id='edit-goto' value='GNI per capita, Atlas method (current US$)' class='form-text autocomplete form-autocomplete autocomplete-processed fluid' autocomplete='off' /></div>
            <input type='submit' name='op' id='edit-submit' value='Go'  class='form-submit' />
            <input type='hidden' name='form_build_id' id='form-_U7kbb2M6cg57Yd_6cu0NnR-ycHurH0kGcwdyPBG-40' value='form-_U7kbb2M6cg57Yd_6cu0NnR-ycHurH0kGcwdyPBG-40'  />
            <input type='hidden' name='form_id' id='edit-wbboxes-goto-form' value='wbboxes_goto_form'  />
          </div>
        </form>
        <div class='intro-text'>The <a href='http://datacatalog.worldbank.org'>Data Catalog</a> is a listing of available World Bank datasets, including databases, pre-formatted tables, reports and other resources.</div>
        <div class='more-link'><a href='http://data.worldbank.org/indicator'>View more</a><a href='http://data.worldbank.org/summary-terms-of-use' class='legal'>Terms of use</a><a href='http://data.worldbank.org/developers' class='developers'>For developers</a><a href='http://data.worldbank.org/email-subscription' class='email'>Sign up for email updates</a></div>
      </div>
    </div>
  </div>
</div>