<div id='navigation'>
	<div class='limiter clear-block'>
	  <ul class='links primary-links'>
	    <li class='country first'><a href='http://data.worldbank.org/country'>By Country</a></li>
	    <li class='topic'><a href='http://data.worldbank.org/topic'>By Topic</a></li>
	    <li class='indicator'><a href='http://data.worldbank.org/indicator'>Indicators</a></li>
	    <li class='data-catalog'><a href='http://data.worldbank.org/data-catalog'>Data Catalog</a></li>
	    <li class='http:--microdata-worldbank-org'><a href='http://microdata.worldbank.org' title=''>Microdata</a></li>
	    <li class='http:--blogs-worldbank-org-opendata- last'><a href='http://blogs.worldbank.org/opendata/' title=''>Blog</a></li>
	  </ul>
	  <ul class='links secondary-links'>
	    <li class='news first'><a href='http://data.worldbank.org/news'>News</a></li>
	    <li class='pages-8'><a href='http://data.worldbank.org/about' title=''>About</a></li>
	    <li class='http:--datahelpdesk-worldbank-org'><a href='http://datahelpdesk.worldbank.org' title=''>Support</a></li>
	    <li class='pages-7 last'><a href='http://data.worldbank.org/products' title=''>Products</a></li>
	  </ul>
	</div>
</div>