#header {
  .content {
    background: $black;
    @include clearfix;
    color: #FFF;
    font-size: $smaller;
    text-align: right;
  }
  a {
    color: inherit;
  }
  a.logo {
    background: url(/images/logo-en.gif) no-repeat left center;
    display: block;
    float: left;
    height: 42px;
    text-align: left;
    text-indent: -999em;
    width: 390px;
  }
  .search {
    form {
      background: tint($black, 10%);
      border: 1px solid tint($black, 20%);
      position: relative;
      input {
        background: transparent;
        border: 0;
        @include box-sizing(border-box);
        display: block;
        outline: none;
        padding: $gutter/4 $gutter/2;
        width: 100%;
      }
      .submit {
        background: transparent;
        border: 0;
        font-size: $normal;
        line-height: 1;
        outline: none;
        padding: $gutter/4;
        position: absolute;
        right: 0;
        top: 0;
        &:before {
          @include icon();
          content: 's';
        }
        span {
          display: none;
        }
      }
    }
  }
  .menu {
    float: right;
    padding: 12px $gutter/2;
  }
  h2 {
    background: $red;
    color: #FFF;
    font-size: $huge;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: $gutter/2;
    text-align: left;
  }
}

@media (max-width: 767px) {
  #header {
    a.logo {
      width: 170px;
    }
  }
}

@media (max-width: 960px) {
  #header {
    .logo {
      span {
        display: none;
      }
    }
    .menu {
      display: block;
    }
    .options {
      background: $black;
      border-top: 1px solid tint($black, 20%);
      bottom: 0;
      clear: both;
      display: none;
      font-size: $normal;
      left: 0;
      overflow-y: auto;
      position: fixed;
      right: 0;
      text-align: left;
      top: 42px;
      z-index: 999;
      &.show {
        display: block;
      }
      .search {
        padding: $gutter/2;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          border-top: 1px solid tint($black, 20%);
          a {
            display: block;
            padding: $gutter/2;
          }
        }
        &.links {
          background: #FFF;
          color: $base;
          li {
            border-top: 1px solid $line;
          }
          li.active {
            a {
              border-left: 3px solid $red;
              padding-left: $gutter/2 - 3;
            }
          }
        }
      }
    }
    h2 {
      display: none;
    }
  }
}

@media (min-width: 961px) {
  #header {
    .menu {
      display: none;
    }
    .options {
      display: block;
    }
    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        margin-left: $gutter/2;
      }
    }
    .logo,
    .languages,
    .menu {
      @include box-sizing(border-box);
      height: 42px;
    }
    .languages {
      display: block;
      float: right;
      padding: 12px 0;
      a.more {
        border-right: 1px solid tint($black, 20%);
        margin-right: $gutter/2;
        padding-right: $gutter/2;
        &:before {
          @include icon();
          content: 'm';
        }
        span {
          display: none;
        }
      }
    }
    .search {
      float: right;
      margin-top: 8px;
      padding:  0 $gutter/2 0 0;
    }
    .links {
      background: #FFF;
      clear: both;
      color: #333;
      display: block;
      padding: $gutter/2 0;
      text-align: left;
      a {
        color: inherit;
        font-weight: bold;
      }
      .active {
        border-bottom: 2px solid $red;
      }
    }
    h2 {
      display: block;
    }
  }
}