/* Normalize.css */

@import '_normalize.scss';

/* Bourbon */

@import 'bourbon';

/* Icons */

@import '_icon.scss';

/* Colors */

$black: #2B292A;
$base: #333;
$grey: #989a94;
$gutter: 20px;
$red: #8a0000;
$line: #ddd;
$light: #F4F3EF;

/* Sizes */

$smaller: 12px;
$normal: 13px;
$larger: 14px;
$large: 20px;
$huge: 26px;

/* Layout */

$sidebar: 300px;

/* General */

body {
  background: #FFF;
  color: $base;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $normal;
  line-height: 140%;
  text-align: center;
  &.menu {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 140%;
  margin: 0 0 $gutter;
}

h1 {
  font-size: $huge;
}

h2 {
  font-size: $large;
}

h3,
h4,
h5,
h6 {
  font-size: $normal;
}

p {
  margin: 0 0 $gutter;
}

/* Layout */

.content {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
}

/* Partials */

@import 'partials/_navigation.scss';
@import 'partials/_header.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';

/* Responsive */

@import 'partials/_responsive.scss';
