---
---
/* Normalize.css */

@import '_normalize.scss';

/* Bourbon */

@import 'bourbon/bourbon';

/* Icons */

@import '_icon.scss';

/* Colors */

$black: #2B292A;
$base: #333;
$grey: #989a94;
$gutter: 20px;
$red: #8a0000;
$line: #ddd;
$light: #F4F3EF;

/* Sizes */

$smaller: 12px;
$normal: 13px;
$larger: 14px;
$large: 20px;
$huge: 26px;

/* Layout */

$sidebar: 300px;

/* General */

body {
  background: #FFF;
  color: $base;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $normal;
  line-height: 140%;
  text-align: center;
}

@media (max-width: 960px) {
  body {
    &.menu {
      overflow: hidden;
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 140%;
  margin: 0 0 $gutter;
}

h1 {
  font-size: $huge;
}

h2 {
  font-size: $large;
}

h3,
h4,
h5,
h6 {
  font-size: $normal;
}

p {
  margin: 0 0 $gutter;
}

a.menu {
  background: transparent;
  border: 0;
  font-size: $huge;
  outline: none;
  &:hover {
    text-decoration: none;
  }
  &:before {
    @include icon();
    content: 'b';
  }
  &.active {
    &:before {
      content: 'x';
    }
  }
  span {
    display: none;
  }
}

#help {
  bottom: 0;
  position: fixed;
  right: $gutter/2;
  z-index: 999;
  h2 {
    background: $base;
    border-radius: 3px 3px 0 0;
    color: #FFF;
    cursor: pointer;
    font-size: $normal;
    margin: 0;
    opacity: 0.9;
    padding: $gutter/4 1.5*$gutter/2;
    white-space: nowrap;
    &:hover {
      opacity: 1;
    }
  }
}

/* Layout */

.content {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
}

/* Partials */

@import '_header.scss';
@import '_main.scss';
@import '_footer.scss';
