<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='es' lang='es' dir='ltr'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <link rel='prev' href='http://data.worldbank.org/open-government-data-toolkit' />
  <link rel='up' href='http://data.worldbank.org/open-government-data-toolkit' />
  <link rel='next' href='http://data.worldbank.org/about/open-government-data-toolkit/it-solutions' />
  <link rel='canonical' href='http://data.worldbank.org/about/open-government-data-toolkit/knowledge-repository' />
  <link rel='shortcut icon' href='/profiles/datafinder/themes/datum/favicon.ico' type='image/x-icon' />
  <meta name='description' content='{{ site.description }}'/>
  <meta name='dcterms.description' content='{{ site.decription }}'/>
  <meta name='abstract' content='{{ site.abstract }}'/>
  <meta name='dcterms.date' content='2013-10-24T00:00:00Z' />
  <link rel='canonical' href='http://data.worldbank.org/about/open-government-data-toolkit/knowledge-repository'/>
  <meta name='revisit-after' content='7 days'/>
  <title>{{ title }} | Data</title>
</head>
<body  class='not-front not-logged-in page-node node-type-simple-page one-sidebar sidebar-right i18n-es tao rubik admin-static fatright es'>
  <nav id='navigation'>
    <div class='content'>
      {% include 'partials/es/_header.html' %}
    </div>
  </nav>

  <header id='header'>
    <div class='content'>
      <h2>Data</h2>

      <ul class='links primary'>
        <li><a href='http://data.worldbank.org/country'>By Country</a></li>
        <li><a href='http://data.worldbank.org/topic'>By Topic</a></li>
        <li><a href='http://data.worldbank.org/indicator'>Indicators</a></li>
        <li><a href='http://data.worldbank.org/data-catalog'>Data Catalog</a></li>
        <li><a href='http://microdata.worldbank.org'>Microdata</a></li>
        <li><a href='http://blogs.worldbank.org/opendata/'>Blog</a></li>
      </ul>

      <ul class='links secondary'>
        <li><a href='http://data.worldbank.org/news'>News</a></li>
        <li><a href='http://data.worldbank.org/about'>About</a></li>
        <li><a href='http://datahelpdesk.worldbank.org'>Support</a></li>
        <li><a href='http://data.worldbank.org/products'>Products</a></li>
      </ul>
      
      <nav class='locale'>This page in:  <a href='/en/{{ path | replace('^\w+\/', '') }}'>English</a> | <strong>Spanish</strong></nav>
    </div>
  </header>
  
  <section id='main'>
    <div class='content'>
      <header class='header'>
        <nav class='share'>
          <a class='facebook'>Facebook</a>
        </nav>

        <h1>{{ title }}</h1>
      </header>

      <section class='body'>
        {% block content %}{% endblock %}
      </section>

      <aside class='sidebar'>
        {% include 'partials/_sidebar.html' %}
      </aside>
    </div>
  </section>
  <footer id='footer'>
    <div class='content'>
      {% include 'partials/_footer.html' %}
    </div>
  </footer>
</body>
</html>