{% if locale == 'en' %}
{% set locales = en_locales %}
{% set sidebar = en_sidebar %}
{% elif locale == 'es' %}
{% set locales = es_locales %}
{% set sidebar = es_sidebar %}
{% else %}
{% set locales = en_locales %}
{% set sidebar = en_sidebar %}
{% endif %}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='{{ locale | default('en') }}' lang='{{ locale | default('en') }}' dir='ltr'>
<head>
  <title>{{ title }} | Data</title>

  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <meta name='description' content='{{ locales.description }}'/>
  <meta name='dcterms.description' content='{{ locales.decription }}'/>
  <meta name='abstract' content='{{ locales.abstract }}'/>
  <meta name='dcterms.date' content='2013-10-24T00:00:00Z' />
  <link rel='prev' href='http://data.worldbank.org/open-government-data-toolkit' />
  <link rel='up' href='http://data.worldbank.org/open-government-data-toolkit' />
  <link rel='next' href='http://data.worldbank.org/about/open-government-data-toolkit/it-solutions' />
  <link rel='canonical' href='http://data.worldbank.org/about/open-government-data-toolkit/knowledge-repository' />
  <link rel='shortcut icon' href='/profiles/datafinder/themes/datum/favicon.ico' type='image/x-icon' />
  
  <link rel='canonical' href='http://data.worldbank.org/about/open-government-data-toolkit/knowledge-repository'/>
  <meta name='revisit-after' content='7 days'/>

  <!-- Favicons -->
  {% include 'partials/_favicons.html' %}

  <!-- CSS -->
  <link href='/assets/styles.css' rel='stylesheet' type='text/css'/>
</head>
<body>
  <header id='header' name='header'>
    <div class='content'>
      {% include 'partials/_header.html' %}
    </div>
  </header>

  <section id='main'>
    <div class='content'>
      <!-- <nav class='locale'>{{ locales.header.locale.prefix }}: {% if locale == 'en' %}<strong>{{ locales.header.locale.en }}</strong> | <a href='/es{{ path | replace('^\w+', '') }}'>{{ locales.header.locale.es }}</a>{% elif locale == 'es' %}<a href='/en{{ path | replace('^\w+', '') }}'>{{ locales.header.locale.en }}</a> | <strong>{{ locales.header.locale.es }}</strong>{% else %}<strong>{{ locales.header.locale.en }}</strong> | <a href='/es{{ path | replace('^\w+', '') }}'>{{ locales.header.locale.es }}</a>{% endif %}</nav> -->

      <header class='header' name='content-header' id='content-header'>
        <nav class='links'>
          <a class='email' href='http://www.facebook.com/sharer.php?u={{ path }}'><span>Email</span></a>
          <a class='facebook' href=''><span>Facebook</span></a>
          <a class='twitter' href='https://twitter.com/share?url={{ path }}'><span>Twitter</span></a>
          <a class='linkedin' href='http://www.linkedin.com/shareArticle?mini=true&url={{ path }}&title={{ title }}&source=World%20Bank'><span>LinkedIn</span></a>
        </nav>

        <h1>{{ title }}</h1>
      </header>

      <section class='main'>
        <aside class='sidebar'>
          {% include 'partials/_sidebar.html' %}
        </aside>

        <section class='body'>
          {% block content %}
          {{ contents | safe }}
          {% endblock %}
        </section>
      </section>
    </div>
  </section>

  <footer id='footer'>
    <div class='content'>
      {% include 'partials/_footer.html' %}
    </div>
  </footer>

  <!-- JS -->
  <script src='//code.jquery.com/jquery-1.11.0.min.js'></script>
  <!-- Sticky sidebar -->
  <script>
    $(function() {
      var top = $('#main .sidebar').offset().top;
      var height = $('#main .sidebar').height();
      var footer = $('#footer').offset().top;
      console.log(top);
      console.log(footer);
      var sticky = function(){
        var scroll = $(window).scrollTop();
        if ((scroll + 20) > top) {
          if ((scroll - top + 20 + height) > (footer - 20)) {
            $('#main .sidebar').addClass('sticky').css({ 'top': 'auto', 'bottom': 20 });
          }
          else {
            $('#main .sidebar').addClass('sticky').css({ 'top': (scroll - top + 20), 'bottom': 'auto' });
          }
          
        }
        else {
          $('#main .sidebar').removeClass('sticky').css({ 'top': 'auto', 'bottom': 'auto'});
        }
      };
      sticky();
      $(window).scroll(function() {
         sticky();
      });
    });
  </script>

  <!-- Dropdown menu for mobile -->
  <script>
    $(function() {
      $('.menu').click(function () {
        var options = $(this).next('.options');
        if (options.hasClass('show')) {
          $('body').removeClass('menu');
          options.removeClass('show');
        }
        else {
          $('body').addClass('menu');
          options.addClass('show');
        }
      });
    });
  </script>

  <!-- Links as select box for mobile -->
  <script>
    $(function() {
      var links = [{'title': 'Jump to another section'}];
      $('#footer .content > .links a').each(function () {
        links.push({
          'title': $(this).html(),
          'url': $(this).attr('href'),
          'type': $(this).parent().prop('tagName')
        });
      });
      
      var select = $('<select></select>');

      for (i = 0; i < links.length; i++) {
        var label = links[i].title;

        if (links[i].type == 'H2') {
          label = label.toUpperCase();
        }
        else if (links[i].type == 'LI') {
          label = '&nbsp;&nbsp;'+ label;
        }

        var option = $('<option value="'+ links[i].url +'">'+ label +'</option>');
        
        $(select).append(option);
      }

      select.on('change', function (e) {
        if (this.value.length > 0) {
          window.location = this.value;
        }
      });

      var element = $('<span class="select"></span>').append(select);

      $('#footer .content > .links').before(element);
    });
  </script>
</body>
</html>