{% comment %}

   For some reason referencing page.locale in the context of replace_first generates liquid errors.
   Same thing if you try to assign page.locale to a dummy variable and reference that instead. This
   seems to be a bug in the liquid gem, and is the reason for the redundant-looking use of _locale.
   Perhaps it will be resolved in a future liquid release. I have not tested with liquid 3.x

{% endcomment %}
{% if page.locale == 'es' %}
{% assign locale = site.lang.es %}
{% assign _locale = 'es' %}
{% elsif page.locale == 'fr' %}
{% assign locale = site.lang.fr %}
{% assign _locale = 'fr' %}
{% else %}
{% assign locale = site.lang.en %}
{% assign _locale = 'en' %}
{% endif %}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='{{ page.locale }}' lang='{{ page.locale }}' dir='ltr'>
<head>
  <title>{{ page.title }} | Data</title>

  <meta http-equiv='X-UA-Compatible' content='IE=9'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <meta name='description' content='{{ locale.description }}'/>
  <meta name='dcterms.description' content='{{ locale.description }}'/>
  <meta name='abstract' content='{{ locale.abstract }}'/>
  <meta name='dcterms.date' content='{{ site.time | date_to_xmlschema }}' />
  
  <link rel='canonical' href='{{ site.base }}{{ page.url }}'/>
  <meta name='revisit-after' content='7 days'/>

  <!-- Favicons -->
  {% include parts/favicons.html %}

  <!-- CSS -->
  <link href='/assets/styles.css' rel='stylesheet' type='text/css'/>
  <link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>

  <!-- early Javascript -->
  <script type="text/javascript" src="//assets.adobedtm.com/572ee9d70241b5c796ae15c773eaaee4365408ec/satelliteLib-efd6120a6f6ed94da49cf49e2ba626ac110c7e3c.js"></script>
  {% include en/parts/adobe-analytics.html %}
</head>
<body>
  <header id='header' name='header'>
    <div class='content'>
      {% include en/parts/header.html %}
    </div>
  </header>

  <section id='main' name='main'>
    <div class='content'>
{% if site.multilingual %}
    <nav class='locale'>{{ locale.localeprefix }}
{% for lang in site.lang.locales %}
{% if lang[0] == page.locale %}
    <span>{{ lang[1] }}</span>
{% else %}
    <a href="{{ page.url | replace_first: _locale, lang[0] }}">{{ lang[1] }}</a>
{% endif %}
{% endfor %}
	</nav>
{% endif %}
      <header class='header'>
        <nav class='links'>
          {% include parts/social.html %}
        </nav>

        <h1>
          <a href='#main' class='menu'><span>Menu</span></a>
          {{ page.title }}
        </h1>
      </header>

      <section class='main'>
        <aside class='sidebar'>
          {% include parts/sidebar.html %}
        </aside>

        <section class='body'>
          {{ content }}
        </section>
      </section>
    </div>
  </section>

  <footer id='footer'>
    <div class='content'>
      {% include en/parts/footer.html %}
    </div>
  </footer>

  <div id='help'>
    <h2 onclick='javascript:uvClick()'>Help/Feedback</h2>
  </div>

  <!-- JS -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/assets/config-{{ page.locale }}.js"></script>
  <script type="text/javascript" src="/assets/site.js"></script>
  <!-- Omniture -->
  {% include en/parts/omniture.html %}

  <script type="text/javascript">
  <!--
  _satellite.pageBottom();
  -->
  </script>
</body>
</html>
