{% if page.locale == 'es' %}
{% assign locale = site.lang.es %}
{% else %}
{% assign locale = site.lang.en %}
{% endif %}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='{{ page.locale }}' lang='{{ page.locale }}' dir='ltr'>
<head>
  <title>{{ page.title }} | Data</title>

  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <meta name='description' content='{{ locale.description }}'/>
  <meta name='dcterms.description' content='{{ locale.description }}'/>
  <meta name='abstract' content='{{ locale.abstract }}'/>
  <meta name='dcterms.date' content='2013-10-24T00:00:00Z' />
  
  <link rel='canonical' href='{{ site.base }}/{{ page.url }}'/>
  <meta name='revisit-after' content='7 days'/>

  <!-- Favicons -->
  {% include parts/favicons.html %}

  <!-- CSS -->
  <link href='/assets/styles.css' rel='stylesheet' type='text/css'/>
</head>
<body>
  <header id='header' name='header'>
    <div class='content'>
      {% include parts/header.html %}
    </div>
  </header>

  <section id='main' name='main'>
    <div class='content'>
{% if false %}
    <nav class='locale'>{{ locale.localeprefix }}
{% for lang in site.lang.locales %}
{% if lang[0] == page.locale %}
    <span>{{ lang[1] }}</span>
{% else %}
    <a href="{{ page.url | replace_first: page.locale, lang[0] }}">{{ lang[1] }}</a>
{% endif %}
{% endfor %}
	</nav>
{% endif %}
      <header class='header'>
        <nav class='links'>
          {% include parts/social.html %}
        </nav>

        <h1>
          <a href='#main' class='menu'><span>Menu</span></a>
          {{ page.title }}
        </h1>
      </header>

      <section class='main'>
        <aside class='sidebar'>
          {% include parts/sidebar.html %}
        </aside>

        <section class='body'>
          {{ content }}
        </section>
      </section>
    </div>
  </section>

  <footer id='footer'>
    <div class='content'>
      {% include parts/footer.html %}
    </div>
  </footer>

  <div id='help'>
    <h2 onclick='javascript:uvClick()'>Data/Feedback</h2>
  </div>

  <!-- JS -->
  <script src='//code.jquery.com/jquery-1.11.0.min.js'></script>

  <!-- Sticky sidebar -->
  <script>
    $(function() {
      var top = $('#main .sidebar').offset().top;
      var footer = $('#footer').offset().top;
      var height = $('#main .sidebar').height();
      var sticky = function(){
        var scroll = $(window).scrollTop();
        if ((scroll + 20) > top) {
          if ((scroll + 20 + height) > (footer - 20)) {
            $('#main .sidebar').addClass('sticky').css({ 'top': 'auto', 'bottom': 20 });
          }
          else {
            $('#main .sidebar').addClass('sticky').css({ 'top': (scroll - top + 20), 'bottom': 'auto' });
          }
          
        }
        else {
          $('#main .sidebar').removeClass('sticky').css({ 'top': 'auto', 'bottom': 'auto'});
        }
      };
      sticky();
      $(window).scroll(function() {
         sticky();
      });
    });
  </script>

  <!-- Dropdown menu for mobile -->
  <script>
    $(function() {
      $('.menu').click(function () {
        var options = $(this).next('.options');
        if (options.hasClass('show')) {
          $('body').removeClass('menu');
          options.removeClass('show');
          $(this).removeClass('active');
        }
        else {
          if ($(this).parent().parent().attr('id') == 'header') $('body').addClass('menu');
          options.addClass('show');
          $(this).addClass('active');
        }
      });
    });
  </script>

  <!-- Main links as dropdown for mobile -->
  <script>
    $(function() {
      var options = $('<div class="options"></div>');

      $('#main .sidebar h2 a, #main .sidebar h3 a').each(function () {
        if (!$(this).parent().parent().hasClass('active')) {
          var that = $(this).clone();
          options.append(that);
        }
      });
      
      $('#main .header .menu').after(options);
    });
  </script>


  <!-- Footer links as select box for mobile -->
  <script>
    $(function() {
      var links = [{'title': 'Jump to another section'}];
      $('#footer .content > .links a').each(function () {
        links.push({
          'title': $(this).html(),
          'url': $(this).attr('href'),
          'type': $(this).parent().prop('tagName')
        });
      });
      
      var select = $('<select></select>');

      for (i = 0; i < links.length; i++) {
        var label = links[i].title;

        if (links[i].type == 'H2') {
          label = label.toUpperCase();
        }
        else if (links[i].type == 'LI') {
          label = '&nbsp;&nbsp;'+ label;
        }

        var option = $('<option value="'+ links[i].url +'">'+ label +'</option>');
        
        $(select).append(option);
      }

      select.on('change', function (e) {
        if (this.value.length > 0) {
          window.location = this.value;
        }
      });

      var element = $('<span class="select"></span>').append(select);

      $('#footer .content > .links').before(element);
    });
  </script>
  
  <!-- User voice -->
  {% include parts/uservoice.html %}
</body>
</html>
