<header class='breadcrumb'>
  You are here › <a href='/{{ locale | default('en') }}'>Open Government Data Toolkit</a> › <a href='/{{ path }}'>{{ title }}</a>
</header>

<section class='links'>
  <section class='section'>
    <h2>Resources</h2>
    <h3><a href='http://web.worldbank.org/WBSITE/EXTERNAL/TOPICS/CSO/0,,pagePK:220469~theSitePK:228717,00.html'>Civil Society</a></h3>
    <h3><a href='http://consultations.worldbank.org/'>Consultations</a></h3>
    <h3><a href='https://clientconnection.worldbank.org/servlet/main?menuPK=234032&amp;pagePK=232663&amp;piPK=234033'>Governments</a></h3>
    <ul>
      <li><a href='https://clientconnection.worldbank.org/servlet/main?menuPK=234032&amp;pagePK=232663&amp;piPK=234033'>Client Connection</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/PARTNERS/EXTPARLIAMENTARIANS/0,,menuPK:64165869~pagePK:64165874~piPK:64165885~theSitePK:464534,00.html'>Parliamentarians</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTANDOPERATIONS/EXTINFODISCLOSURE/0,,menuPK:64864911~pagePK:4749265~piPK:4749256~theSitePK:5033734,00.html'>Access to Information</a></li>
      <li><a href='http://treasury.worldbank.org/bdm/htm/index.html'>Finance &amp; Risk Management</a></li>
    </ul> 
    <h3><a href='http://web.worldbank.org/WBSITE/EXTERNAL/OPPORTUNITIES/EXTCORPPROCUREMENT/0,,menuPK:64147159~pagePK:64147234~piPK:64147236~theSitePK:438017,00.html'>Businesses</a></h3>
    <ul>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/OPPORTUNITIES/EXTCORPPROCUREMENT/0,,menuPK:64147159~pagePK:64147234~piPK:64147236~theSitePK:438017,00.html'>Corporate Procurement</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/PROCUREMENT/0,,contentMDK:20109705~pagePK:84269~piPK:60001558~theSitePK:84266,00.html'>Operational Procurement</a></li>
    </ul>
    <h3><a href='http://treasury.worldbank.org/cmd/htm/index.html'>Investors</a></h3>
    <ul>
      <li><a href='http://treasury.worldbank.org/cmd/htm/index.html'>World Bank Bonds</a></li>
    </ul>
    <h3><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTJOBSNEW/0,,pagePK:8454306~theSitePK:8453353,00.html'>Job Seekers</a></h3>
    <h3><a href='http://web.worldbank.org/WBSITE/EXTERNAL/NEWS/0,,pagePK:34382~piPK:34439~theSitePK:4607,00.html'>Journalists</a></h3>
    <h3><a href='http://youthink.worldbank.org/'>Students</a></h3>
    </ul>
  </section>

  <section class='section'>
    <h2><a href='http://www.worldbank.org/en/about'>About</a></h2>
    <ul>
      <li><a href='http://www.worldbank.org/en/about/history'>History</a></li>
      <li><a href='http://www.worldbank.org/en/about/leadership'>Leadership</a></li>
      <li><a href='http://www.worldbank.org/en/about/speakers-bureau'>Public Outreach</a></li>
      <li><a href='http://www.worldbank.org/en/events'>Events</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTJOBSNEW/0,,pagePK:8454306~theSitePK:8453353,00.html'>Jobs</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/EXTANNREP/0,,menuPK:1397243~pagePK:64168427~piPK:64168435~theSitePK:1397226,00.html'>Annual Reports</a></li>
    </ul>

    <h2><a href='http://www.worldbank.org/news'>News</a></h2>
    <ul>
      <li><a href='http://www.worldbank.org/en/news/all'>Search for News</a></li>
      <li><a href='http://blogs.worldbank.org'>Blogs</a></li>
      <li><a href='http://www.worldbank.org/en/news/multimedia'>Multimedia</a></li>
      <li><a href='http://media.worldbank.org/'>Media Briefing Center</a></li>
      <li><a href='http://www.worldbank.org/en/about/contacts'>Media Contacts</a></li>
    </ul>
  </section>

  <section class='section'>
    <h2><a href='http://www.worldbank.org/data'>Data</a></h2>
    <ul>
      <li><a href='http://search.worldbank.org/data'>Search Data</a></li>
      <li><a href='http://databank.worldbank.org/ddp/home.do?Step=12&amp;id=4&amp;CNO=2'>Data Bank</a></li>
      <li><a href='http://data.worldbank.org/data-catalog'>Catalog</a></li>
      <li><a href='http://data.worldbank.org/products'>Data Publications &amp; Products</a></li>
      <li><a href='http://data.worldbank.org/developers'>APIs for Developers</a></li>
    </ul>

    <h2><a href='http://www.worldbank.org/projects'>Projects and Operations</a></h2>
    <ul>
      <li><a href='http://search.worldbank.org/projects'>Search Projects</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/0,,contentMDK:20120721~menuPK:232467~pagePK:41367~piPK:51533~theSitePK:40941,00.html'>Products &amp; Services</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/0,,menuPK:64383817~pagePK:64387457~piPK:64387543~theSitePK:40941,00.html'>Country Lending</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/PROCUREMENT/0,,pagePK:84271~theSitePK:84266,00.html'>Procurement</a></li>
      <li><a href='http://ieg.worldbankgroup.org/'>Project Evaluations</a></li>
      <li><a href='http://www.worldbank.org/results'>Results</a></li>
    </ul>
  </section>
  
  <section class='section'>
    <h2><a href='http://econ.worldbank.org'>Research</a></h2>
    <ul>
      <li><a href='http://search.worldbank.org/research'>Search Research</a></li>
      <li><a href='http://econ.worldbank.org/WBSITE/EXTERNAL/EXTDEC/EXTRESEARCH/0,,contentMDK:20388241~menuPK:665266~pagePK:64165401~piPK:64165026~theSitePK:469382,00.html'>Tools &amp; Tables</a></li>
      <li><a href='http://www.worldbank.org/reference/'>Research Publications &amp; Products</a></li>
    </ul>

    <h2><a href='http://www.worldbank.org/reference/'>Publications</a></h2>
    <ul>
      <li><a href='http://publications.worldbank.org/'>Bookstore</a></li>
      <li><a href='http://www-wds.worldbank.org/WBSITE/EXTERNAL/EXTWDS/0,,detailPagemenuPK:64187510~menuPK:64187513~pagePK:64187848~piPK:64187934~searchPagemenuPK:64187283~siteName:WDS~theSitePK:523679,00.html'>Documents &amp; Reports</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/EXTARCHIVES/0,,pagePK:38167~theSitePK:29506,00.html'>Archives</a></li>
      <li><a href='http://jolis.worldbankimflib.org/external.htm'>Libraries</a></li>
    </ul>
  </section>

  <section class='section'>
    <h2><a href='http://wbi.worldbank.org/wbi/'>Learning</a></h2>
    <ul>
      <li><a href='http://gdln.org'>Global Development Learning Network</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/TOPICS/EXTCDRC/0,,menuPK:64169181~pagePK:64169192~piPK:64169180~theSitePK:489952,00.html'>Capacity Development Resource Center</a></li>
      <li><a href='http://www.worldbank.org/en/data/statistical-capacity-building'>Statistical Capacity Building</a></li>
      <li><a href='http://web.worldbank.org/WBSITE/EXTERNAL/WBI/EXTWBISFP/0,,menuPK:551559~pagePK:64168427~piPK:64168435~theSitePK:551553,00.html'>Scholarships &amp; Fellowships</a></li>
    </ul>

    <h2><a href='http://www.worldbank.org/en/country'>Countries</a></h2>
    <h2><a href='http://www.worldbank.org/en/topic'>Topics</a></h2>
  </section>
</section>

<nav class='agencies'>
  <a class='home' href='http://www.worldbank.org/'><img src='/assets/images/logo-footer.png'></a>
  <nav class='links'>
    <a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/EXTIBRD/0,,menuPK:3046081~pagePK:64168427~piPK:64168435~theSitePK:3046012,00.html'>IBRD</a>
    <a href='http://www.worldbank.org/ida/'>IDA</a>
    <a href='http://www.ifc.org/wps/wcm/connect/corp_ext_content/ifc_external_corporate_site/home'>IFC</a>
    <a href='http://www.miga.org/'>MIGA</a>
    <a href='https://icsid.worldbank.org/ICSID/Index.jsp'>ICSID</a>
  </nav>
</nav>

<footer class='footer'>
  <a class='hotline' href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/ORGANIZATION/ORGUNITS/EXTDOII/0,,contentMDK:20659616~menuPK:1702202~pagePK:64168445~piPK:64168309~theSitePK:588921,00.html'><strong>Fraud &amp; Corruption Hotline</strong> 1-202-458-7677</a>

  <nav class='legal'>
    <a href='http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html'>Legal</a> | <a href='http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTANDOPERATIONS/EXTINFODISCLOSURE/0,,menuPK:64864911~pagePK:4749265~piPK:4749256~theSitePK:5033734,00.html'>Access to Information</a> | <a href='http://web.worldbank.org/WBSITE/EXTERNAL/EXTJOBSNEW/0,,pagePK:8454306~theSitePK:8453353,00.html'>Jobs</a> | <a href='http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20130468~pagePK:50016803~piPK:50016805~theSitePK:13,00.html'>Site Map</a> | <a href='http://www.worldbank.org/en/about/contacts'>Contact</a>
  </nav>

  <a class='copyright' href='http://www.worldbank.org/'>© 2016 The World Bank Group, All Rights Reserved.</a>
</footer>
